In [1]:
import pandas as pd

df = pd.read_csv('C:/datasets/abalone.csv')
df

,id,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...,...
4172,4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [2]:
df.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Rings             0
dtype: int64

In [4]:
df['Sex'] = df['Sex'].map({'M': 0, 'F': 1, 'I': 2})

In [5]:
df.head()

,id,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Rings
0,0,0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,1,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,2,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,3,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,4,2,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [7]:
X = df.drop(['Rings'], axis=1)
y = df['Rings']

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [11]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3341, 9), (836, 9), (3341,), (836,))

In [12]:
X_train_cnn = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test_cnn = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

In [14]:
import tensorflow as tf
from tensorflow.keras import layers, models
# CNN model for regression
cnn_model = models.Sequential([
    layers.Conv1D(64, kernel_size=2, activation='relu', input_shape=(X_train.shape[1], 1)),
    layers.MaxPooling1D(pool_size=2),
    layers.Conv1D(32, kernel_size=2, activation='relu'),
    layers.MaxPooling1D(pool_size=2),
    layers.Flatten(),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)  # Single output for regression (Rings)
])

C:\Users\yujin\anaconda32\Lib\site-packages\keras\src\layers\convolutional\base_conv.py:107: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [15]:
cnn_model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

In [16]:
history = cnn_model.fit(X_train_cnn, y_train, epochs=10, validation_data=(X_test_cnn, y_test))

Epoch 1/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 72.7951 - mae: 7.4519 - val_loss: 12.5380 - val_mae: 2.6214
Epoch 2/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 11.5732 - mae: 2.4967 - val_loss: 10.4243 - val_mae: 2.2717
Epoch 3/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 13.4844 - mae: 2.1828 - val_loss: 7.8450 - val_mae: 2.1063
Epoch 4/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 8.5100 - mae: 2.0213 - val_loss: 7.0511 - val_mae: 1.9055
Epoch 5/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.9537 - mae: 1.8992 - val_loss: 6.7046 - val_mae: 1.9565
Epoch 6/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.5422 - mae: 1.8324 - val_loss: 6.3057 - val_mae: 1.8054
Epoch 7/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.6781 - mae: 1.8028 - val_loss: 6.1304 - val_mae: 1.7946
Epoch 8/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.4333 - mae: 1.8133 - val_loss: 6.2064 - val_mae: 1.7012
Epoch 9/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 6.3095 - mae: 1.7631 - val_loss: 5.9315 - val_mae: 1.7882
Epoch 10/10
105/105 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 5.9818 - mae: 1.7471 - val_loss: 5.8755 - val_mae: 1.7855

In [17]:
cnn_test_loss, cnn_test_mae = cnn_model.evaluate(X_test_cnn, y_test)

cnn_test_loss, cnn_test_mae

27/27 ━━━━━━━━━━━━━━━━━━━━ 0s 913us/step - loss: 6.2773 - mae: 1.8167

(5.875519275665283, 1.7854602336883545)